NUXT_DB_NAME=planning-poker
NUXT_DB_USER=postgres
NUXT_DB_HOST=localhost

# TODO: change me
NUXT_DB_PASSWORD=change-me

NUXT_OAUTH_GITHUB_CLIENT_ID=change-me
NUXT_OAUTH_GITHUB_CLIENT_SECRET=change-me
