NUXT_POSTGRES_DB=planning-poker
NUXT_POSTGRES_USER=postgres
NUXT_POSTGRES_HOST=localhost

# TODO: change me
NUXT_POSTGRES_PASSWORD=change-me

NUXT_OAUTH_GITHUB_CLIENT_ID=change-me
NUXT_OAUTH_GITHUB_CLIENT_SECRET=change-me
